<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-text" href="#">Contacts</a>
    <a class="navbar-text" href="#">Test1</a>
    <a class="navbar-text" href="#">Test2</a>
    <a class="navbar-text" href="#">Test3</a>
    <a class="navbar-text" href="#">Test4</a>
</nav>